<template>
  <div>
    <div v-for="item in flats" :key="item.flat">
        <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <stats-card :title="'BYT ' + item.flat + ': odběr od vyúčtování ' + LAST_BILLING_YEAR"
                                type="gradient-green"
                                :sub-title="formatVolume(item.totalVolume) + ' m³'"
                                icon="fa fa-water"
                                class="mb-4 mb-xl-0"
                    >
                      <template slot="footer">
                        <div v-if="item.additionalVolume > 0">
                          <span class="text-info font-weight-bold mr-2"><i class="fa fa-info-circle"></i> zarhnuje {{formatVolume(item.additionalVolume)}} m³</span>
                          <span class="text-nowrap">před výměnou vodoměru</span>
                        </div>
                      </template>
                    </stats-card>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <stats-card :title="'BYT ' + item.flat + ': odhad vyúčtování ' + (LAST_BILLING_YEAR + 1)"
                                type="gradient-green"
                                :sub-title="formatCurrency(item.estimatedCost) + ' Kč (' + formatVolume(item.estimatedVolume) + ' m³)'"
                                icon="fa fa-coins"
                                class="mb-4 mb-xl-0"
                    >
                      <template slot="footer">
                        <div>
                          <span class="text-success mr-2"><i class="fa fa-info-circle"></i></span>
                          <span>při ceně 102Kč/m³ a splacených zálohách {{formatCurrency(item.info.waterDeposit)}}Kč měsíčně</span>
                        </div>
                      </template>
                    </stats-card>
                </div>
                <div class="col-xl-3 col-lg-6" v-for="error in item.errors" :key="error.id">
                    <stats-card :title="'Chyba na vodoměru ' + error.location"
                                type="gradient-red"
                                :sub-title="error.subTitle"
                                icon="fa fa-exclamation"
                                class="mb-4 mb-xl-0"
                    >
                      <template slot="footer">
                          <span :class="'text-' + error.level + ' mr-2'"><i class="fa fa-exclamation-triangle"></i> {{error.description}}</span>
                          <span class="text-nowrap"></span>
                      </template>
                    </stats-card>
                </div>
            </div>
        </base-header>

        <!--Charts-->
        <div class="container-fluid mt--7 mb-5">
            <div class="row">
                <div class="col-xl-4 mb-5 mb-xl-0">
                    <card type="default" header-classes="bg-transparent">
                        <div slot="header" class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">Byt {{item.flat}}</h6>
                                <h5 class="h3 text-white mb-0">Odběr vody - posledních 13 měsíců</h5>
                            </div>
                        </div>
                        <bar-chart
                                :height="250"
                                :chart-data="item.year.chartData"
                                :extra-options="chartOptions"
                        >
                        </bar-chart>
                    </card>
                </div>
                <div class="col-xl-8 mb-5 mb-xl-0">
                    <card type="default" header-classes="bg-transparent">
                        <div slot="header" class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">Byt {{item.flat}}</h6>
                                <h5 class="h3 text-white mb-0">Odběr vody - posledních 31 dní</h5>
                            </div>
                        </div>
                        <bar-chart
                                :height="250"
                                :chart-data="item.month.chartData"
                                :extra-options="chartOptions"
                        >
                        </bar-chart>
                    </card>
                </div>
            </div>
            <!-- End charts-->
        </div>

    </div>
  </div>
</template>
<script>
  // Charts
  import BarChart from '@/components/Charts/BarChart';
  import * as moment from 'moment'
import { apiGetStats } from '../api';

  const LAST_BILLING_YEAR = 2020;
  const LAST_BILLING_DATE = '2021-02-01';

  export default {
    components: {
      BarChart,
    },
    data() {
      return {
        LAST_BILLING_YEAR: LAST_BILLING_YEAR,
        chartOptions: {
          legend: { display: true },
          scales: {
            yAxes: [{
              afterTickToLabelConversion: (q) => q.ticks.forEach((_, i) => q.ticks[i] = formatVolume(q.ticks[i] / 1000)),
              ticks: { maxTicksLimit: 4, fontSize: 20 },
            }]
          }
        },
        flats: [
          {
            flat: 0,
            info: {
              waterDeposit: 0,
            },
            estimatedVolume: 0,
            estimatedCost: 0,
            totalVolume: 0,
            additionalVolume: 0,
            errors: [],
            meters: [{ color: '#000000', location: 'ložnice' }],
            year: {
              chartData: {
                labels: ['09/20', '10/20', '11/20', '12/20', '01/21', '02/21'],
                datasets: [{
                  label: 'Odběr celkem',
                  backgroundColor: '#ee0000',
                  data: [25, 20, 30, 22, 17, 29],
                }]
              }
            },
            month: {
              chartData: {
                labels: ['09/20', '10/20', '11/20', '12/20', '01/21', '02/21'],
                datasets: [{
                  label: 'Odběr celkem',
                  backgroundColor: '#ee0000',
                  data: [25, 20, 30, 22, 17, 29],
                }]
              }
            }
          }
        ]
      }
    },
    methods: {
      formatCurrency,
      formatVolume,
    },
    async mounted() {
      const totalColor = '#ab6646';
      const colors = ['#4bab46', '#ab9f46', '#469fab', '#9746ab', '#ab7a46'];
      const infoCodes = [
        { mask: 1, code: 'PowerOff' },
        { mask: 2, code: 'BatteryLow' },
        { mask: 4, code: 'AlarmFromExternalUnit', hide: true },
        { mask: 8, code: 'TemperatureSensorT1AboveRangeOrDisconnected' },
        { mask: 16, code: 'TemperatureSensorT2AboveRangeOrDisconnected' },
        { mask: 32, code: 'TemperatureSensorT1BelowRangeOrShortCircuited' },
        { mask: 64, code: 'TemperatureSensorT2BelowRangeOrShortCircuited' },
        { mask: 128, code: 'TemperatureSensorReversedPolarity' },
        { mask: 256, code: 'AirInFlowSensor' },
        { mask: 512, code: 'FlowMeterV1WrongFlowDirection' },
        { mask: 1024, code: 'FlowMeterV1SignalTooWeak', hide: true },
        { mask: 2048, code: 'FlowV1GreaterThanSpecificationLimit' },
        { mask: 4096, code: 'LeakInWaterSystemOnVaPort' },
        { mask: 8192, code: 'LeakInWaterSystemOnVbPort' },
        { mask: 16384, code: 'ExternalAlarmOnVaPort' },
        { mask: 32768, code: 'ExternalAlarmOnVbPort' },
        { mask: 65536, code: 'FlowMeterV1CommunicationError' },
        { mask: 131072, code: 'FlowMeterV1WrongPulseFigure' },
        { mask: 262144, code: 'LeakInWaterSystemOnVa2Port' },
        { mask: 524288, code: 'LeakInWaterSystemOnVb2Port' },
        { mask: 1048576, code: 'TemperatureSensorT3AboveRangeOrDisconnected' },
        { mask: 2097152, code: 'TemperatureSensorT3BelowRangeOrShortCircuited' },
        { mask: 4194304, code: 'FlowMeterV2CommunicationError' },
        { mask: 8388608, code: 'FlowMeterV2WrongPulseFigure' },
        { mask: 16777216, code: 'AirInFlowSensor2' },
        { mask: 33554432, code: 'FlowMeterV2WrongFlowDirection' },
        { mask: 67108864, code: 'FlowMeterV2SignalTooWeak' },
        { mask: 134217728, code: 'FlowV2GreaterThanSpecificationLimit' },
        { mask: 268435456, code: 'V1V2BurstOut' },
        { mask: 536870912, code: 'V1V2BurstIn' },
        { mask: 1073741824, code: 'V1V2LeakOut' },
        { mask: 2147483648, code: 'V1V2LeakIn' },
      ];

      this.totalColor = totalColor;

      const stats = await apiGetStats();

      this.flats = stats.map(stat => {
        const unit = stat.unit;

        console.log(stat);

        const flatMeters = stat.meters
          .map(m => ({
            ...m,
            days: stat.points.filter(p => p.serialNumber === m.serialNumber)
          }))
          .map(m => ({
            ...m,
            totalVolume: (m.days.length ? m.days[m.days.length - 1].volume : 0) + (m.additionalVolume ?? 0) - m.yearStartVolume,
            days: m.days.reduce((acc, i) => [[ ...acc[0], { ...i, diffVolume: i.volume - acc[1] } ], i.volume ], [[], 0])[0]
          }))
;
        const totalVolume = flatMeters.reduce((acc, i) => acc + i.totalVolume, 0);
        const additionalVolume = flatMeters.reduce((acc, i) => acc + (i.additionalVolume || 0), 0);
        const errors = flatMeters
          .map(m => ({ ...m, id: m.serialNumber, errorCode: m.days.length ? m.days[m.days.length - 1].errorCode : 0 }))
          .filter(e => e.errorCode)
          .map(e => expandErrorCode(e.errorCode, e))
          .reduce((acc, ee) => [...acc, ...ee], [])
          .filter(e => !e.hide)
          .map(e => ({ ...e, subTitle: `kód ${e.mask}`, description: e.code, level: 'danger' }));

        const depositPerYear = unit.waterDeposit * 12
        const estimatedVolume = totalVolume / moment().diff(moment(LAST_BILLING_DATE), 'days') * 365
        const estimatedCost = 102 * estimatedVolume - depositPerYear

        return {
          flat: unit.unitNo,
          info: {
            waterDeposit: unit.waterDeposit,
          },
          estimatedVolume: estimatedVolume,
          estimatedCost: estimatedCost,
          totalVolume,
          additionalVolume,
          errors,
          meters: flatMeters.map((fm, i) => ({ color: colors[i], location: fm.location })),
          year: {
            chartData: constructGraph(flatMeters, constructYearBuckets())
          },
          month: {
            chartData: constructGraph(flatMeters, constructMonthBuckets())
          }
        }
      })

      function expandErrorCode(errorCode, item) {
        return infoCodes.filter(ic => errorCode & ic.mask).map(ic => ({ ...item, ...ic }))
      }

      function constructGraph(flatMeters, buckets) {
        const totalData = constructData(`celkem`, totalColor, flatMeters, buckets);
        const metersData = flatMeters.map((m, i) => constructData(m.location, colors[i], [ m ], buckets));
        const visibleData = flatMeters.length <= 1 ? metersData : [ totalData, ...metersData ];

        return {
          labels: buckets.map(b => b.label),
          datasets: visibleData
        }
      }

      function constructData(label, backgroundColor, meters, buckets) {
        const data = buckets.map(bucket => Math.round( 1000 *
          meters.reduce(
            (acc, meter) => acc +
              meter.days
                .filter(d => d.date.startsWith(bucket.date))
                .reduce((acc, day) => acc + day.diffVolume, 0)
            , 0)));
        return {
          label,
          backgroundColor,
          data,
        }
      }

      function constructMonthBuckets() {
        const todayDate = moment();
        const buckets = [];
        let startDate = moment().startOf('day').subtract(31, 'days');
        while (startDate.isBefore(todayDate)) {
          buckets.push({ date: startDate.format("yyyy-MM-DD"), label: startDate.format("DD/MM") });
          startDate = startDate.add(1, 'day');
        }
        return buckets;
      }

      function constructYearBuckets() {
        const todayDate = moment();
        const buckets = [];
        let startDate = moment().startOf('month').subtract(13, 'months');
        while (startDate.isBefore(todayDate)) {
          buckets.push({ date: startDate.format("yyyy-MM"), label: startDate.format("MM/yyyy") });
          startDate = startDate.add(1, 'month');
        }
        return buckets;
      }
    }
  };

  function formatCurrency(n) { return (n ?? 0).toLocaleString('cs-CZ', { maximumFractionDigits: 0, minimumFractionDigits: 0 }); }
  function formatVolume(n) { return n !== 0 && !n ? '' : n.toLocaleString('en-US', { maximumFractionDigits: 3, minimumFractionDigits: 3 })
          .replaceAll(/((?<=\.\d*)\d|\.)/g, (dotOrNumber) => dotOrNumber === '.' ? '˙' : ['⁰', '¹', '²', '³', '⁴', '⁵', '⁶', '⁷', '⁸', '⁹'][dotOrNumber]); }

</script>
<style></style>
