<template>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5" v-if="!success">
                        <form role="form">
                            <base-input class="input-group-alternative mb-3"
                                        placeholder="Email"
                                        addon-left-icon="ni ni-email-83"
                                        v-model="model.emailAddress">
                            </base-input>

                            <base-input class="input-group-alternative"
                                        placeholder="Číslo bytu"
                                        addon-left-icon="ni ni-shop"
                                        v-model="model.unitNo">
                            </base-input>

                            <div class="text-center">
                                <base-button type="primary" class="my-4" v-on:click="login">Získat kód</base-button>
                            </div>

                            <div class="text-center danger">
                                <p>{{ error }}</p>
                            </div>
                        </form>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5" v-if="success">
                        <div class="text-center">
                            <p>Na emailovou adresu {{ model.emailAddress }} byl zaslán odkaz na přihlášení.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
  import { apiStartOtp } from '../api';

  export default {
    name: 'login',
    data() {
      return {
        model: {
          emailAddress: '',
          unitNo: '',
        },
        error: '',
        success: false,
      }
    },
    methods: {
      async login() {
        if (await apiStartOtp(this.model.emailAddress, this.model.unitNo)) {
          this.error = '';
          this.success = true;
        } else {
          this.error = 'Kombinace neodpovídá, kontaktujte předsedu.';
          this.success = false;
        }
      }
    }
  }
</script>
<style>
</style>
