<template>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5" v-if="!done">
                        <div class="text-center">
                            <p>Ověřuji token...</p>
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5" v-if="done">
                        <div class="text-center">
                            <p>Neplatný token, zkuste se <router-link :to="{ name: 'login' }">přihlásit znovu</router-link>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
  import { apiSetAccessToken, apiFinishOtp } from '../api';
  import router from '../router';

  export default {
    name: 'token',
    props: {
      token: String,
    },
    data() {
      return {
        done: false,
      }
    },
    async mounted() {
      console.log('mounted');
      const emailToken = this.token;
      const accessToken = await apiFinishOtp(emailToken);
      if (accessToken) {
        apiSetAccessToken(accessToken)
        router.push({ name: 'dashboard' })
      } else {
        this.done = true;
      }
    }
  }
</script>
<style>
</style>
