<template>
    <base-nav class="navbar-top navbar-dark"
              id="navbar-main"
              :show-toggle-button="false"
              expand>
        <div class="mr-3 d-none d-md-flex ml-lg-auto">
        </div>
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <i class="fa fa-user"></i>
                  </span>
                  <div class="media-body ml-2 d-none d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold">{{ emailAddress }}</span>
                  </div>
                </div>
            </li>
        </ul>
    </base-nav>
</template>
<script>
  export default {
    data() {
      return {
        activeNotifications: false,
        showMenu: false,
        searchQuery: '',
        emailAddress: '',
      };
    }
  }

  // import { auth } from '../firebase'

  // export default {
  //   data() {
  //     return {
  //       activeNotifications: false,
  //       showMenu: false,
  //       searchQuery: '',
  //       currentUser: auth.currentUser
  //     };
  //   },
  //   methods: {
  //     toggleSidebar() {
  //       this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
  //     },
  //     hideSidebar() {
  //       this.$sidebar.displaySidebar(false);
  //     },
  //     toggleMenu() {
  //       this.showMenu = !this.showMenu;
  //     }
  //   }
  // };
</script>
